<strong>Olá, {{ deliveryman }}</strong>
<p>Você possui uma nova entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{recipient}} <br/>
  <strong>Produto: </strong> {{product}} <br/>
  <br/>
  <small>
    Ao entregar a encomenda lembrar de tirar foto da assinatura do destinatário para confirmação da entrega
  </small>
</p>
